<p style="color: green"><%= notice %></p>

<%= render @hose %>

<div>
  <%= link_to "Edit this hose", edit_hose_path(@hose) %> |
  <%= link_to "Back to hoses", hoses_path %>

  <%= button_to "Destroy this hose", @hose, method: :delete %>
</div>
